
h1 {
    color: rgb(253, 253, 253);
}


.container-add {
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.315);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    margin: 0 auto;
    -webkit-backdrop-filter: blur(10px);
}

.container {
    background-color: rgba(255, 255, 255, 0.315);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px); 
}

.content-container-add {
    max-width: 625px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-container {
    margin-top: 25px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

table thead {
    background-color: #343a40;
    color: #fff;
}

table thead th {
    text-align: center;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}


/* Additional styles for forms */
.form-container {
    margin-top: 25px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
    color: white;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(31, 31, 31);
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-icons {
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-rounded-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.custom-rounded-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-right: 1px;
    font-weight: bold;
}

.btn-primary-view {
    background-color: transparent;
    color: #007bff;
}

.btn-primary-view:hover {
    background-color: #007bff;
    color: #fff;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-success-edit {
    background-color:transparent;
    color:#28a745;
}

.btn-success-edit:hover {
    background-color:  #28a745;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-danger-delete {
    background-color: transparent;
    color: #dc3545;
}

.btn-danger-delete:hover {
    background-color: #dc3545;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}


/* Alert styles */
.alert-delete {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text */
    border-color: #f5c6cb; /* Light red border */
}

.custom-alert-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100%;
    max-width: 400px; /* Adjust based on your design */
    text-align: center;
    padding: 10px;
}

.custom-alert {
    opacity: 0;
    animation: fadeIn 0.5s forwards, fadeOut 0.5s forwards 2.5s;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Specific styles for different alert types */
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-error, .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}